:root {
    --text-color: #000000;
    --card-front-color: rgb(83, 12, 12);
    --card-back-color: rgb(182, 82, 82);
}

body {
    background: url('/Apresentação\ Quiz\ de\ Língua\ Portuguesa\ Ilustração\ Azul\ Vermelho\ e\ Rosa.jpg');
    font-family: Bai Jamjuree, sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    perspective: 1000px;
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    position: relative;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    backface-visibility: hidden;
}

.cartao__conteudo p {
    margin-top: 4rem;
    padding: 2rem;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}

/* Virar ao clicar */
.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
